header {
    background-image: url(../img/fondo2.jpg);
    display: flex;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-around;
    padding: 2%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801); 

}
header img {
    border-radius: 40px;
    box-shadow: 0 4px 10px white; 
}

header nav ul {
    display: flex; 
}
header nav ul li{
    margin-right: 12px; 
}

header nav ul li a {
    display: block;
    margin-left: 25px; 
    background-color: #76fff8dc;
    border-radius: 10px;
    box-shadow: 0 4px 20px #76fff8dc; 
    padding: 15px 25px;
    text-decoration: none;
    color: black;
}
            
header nav ul li a:hover {
    background-color: #76fff9;
    border-radius: 15px;
    transform: scale(1.1, 1.1); 
    transition: all 300ms ease-out;
    box-shadow: 0 4px 50px #76fff8dc; 
    color: black;
}

.h{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 55px;
    color: white;
}

h2{

    font-size: 38px;

    
}

.contador{
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-top: 30px;

}

.divContador{
    display: flex;
    justify-content: space-between;
    width: 146px;
    margin-bottom: 5px;
}

.cartWidget{
    background-color: aliceblue;
    border-radius: 5px;

}

.container-fluid{
    display: flex;
    flex-direction: row;
}

body{
    background-image: url(../img/fondo2.jpg);
}

.divEvento, .divEventoDetail, .divCarrito{
    width: 400px;
    margin-left: 20px;
    box-shadow: 0 4px 20px white; 
    background-color: rgba(255, 255, 255, 0.788);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
}

.divEventoDetail{
    margin-left: 50px;
    background-color: white;
    margin-top: 50px;
}

.divCarrito{
    margin-top: 50px;

}

.divEntradasCarrito{

    border-bottom: 1px solid rgba(161, 161, 161, 0.863);
    margin-bottom: 10px;
}

.divCarrito > h2 {
    text-align: center;
}

.divEntradasCarrito > button{
    margin-bottom: 10px;
}

.divEvento:hover{
    transition: all 300ms ease-out;
    transform: scale(1.1, 1.1);
    background-color: white;
    box-shadow: 0 4px 50px white; 

}

.divEventoDetail:hover{
    transition: all 300ms ease-out;
    transform: scale(1.1, 1.1);
}

.mainContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

