header {
    background-color: rgba(218, 136, 160, 0.712);
    display: flex;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-around;
    padding: 2%; 
}
header img {
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801); 
}

header nav ul {
    display: flex; 
}
header nav ul li{
    margin-right: 12px; 
}

header nav ul li a {
    display: block;
    margin-left: 25px; 
    background-color: #cc5c7e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801); 
}
            
header nav ul li a:hover {
    background-color: #dd8aa3;
    border-radius: 15px;
    transform: scale(1.1, 1.1); 
}

.divItem{

    display: flex;
    justify-content: center;
    margin-top: 50px;

}